{{ $version := version }}
{{ $auth := (get_auth .C) }}
<nav class="navbar sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">

        {{- (call .Config).WebRoot.SiteName -}}
        <small class="fw-lighter text-muted px-2">{{ $version.Version }} - {{ $version.Date }}</small>
    </a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebar" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
        aria-label="Search">
        -->
    <div class="navbar-nav">
        <div class="nav-item text-nowrap px-3">
            {{ if $auth.Valid }}
            {{ if $auth.Ident.DisplayName }} {{ $auth.Ident.DisplayName }} {{ else }} {{ $auth.Ident.Username }} {{ end
            }}
            {{ end }}
        </div>
</nav>